# Copy this file to .env.local and fill in your values

# YandexGPT Configuration
VITE_YANDEX_API_KEY=AQVNyO0XxGnTaNecjcnHVQh_92B7swE0TWn2re2B
VITE_YANDEX_FOLDER_ID=b1g13ksmlceq989m9qrp
VITE_YANDEX_SERVICE_ACCOUNT_ID=ajeht4ebbvk20kgipp1n
VITE_YANDEX_KEY_ID=aje8tkbs8qejd3bpp3e9

# Environment
VITE_ENV=development

